
.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
    background-position: center;
    background-repeat: no-repeat;
   }
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left:10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background: rgb(250, 234, 234); */
    background: rgba(49, 47, 47, 0.5);
}
#marker{
  display: none;
  font-size: 30px;
}
.center {
  width: 50%;
  text-align: center;
}
body,
html {
    height: 100%;
}
/* *{
    border:1px solid yellow;
} */