
.bg {
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
    background-position: center;
    background-repeat: no-repeat; */
    background-image: url("https://source.unsplash.com/1600x900/?weather");
   }
.vertical-center {
  margin: 0;
  background: rgba(49, 47, 47, 0.9);
}

#temp{
  font-size: 2.3rem;
}
#box{
  width:500px;
  border-radius: 20px;
}
input[type=email] {
  border:none;
  background-color: #555a5a;
  color: white;
  
}
.bt{
  background-color:#555a5a;
}
@media (max-width: 567px) {
  #temp {
    font-size: 1.3rem;
  }  
}
@media (max-width: 567px) {
#box {
    width: 250px;
  }
}
.txt{
  width:150px;
}
.scroll{
  overflow-x: scroll;
}

 .scroll::-webkit-scrollbar {
   display: none;
 }

#marker{
  display: none;
  font-size: 30px;
}
#dis-icon{
  display: none;
}
